In [1]:
import numpy as np
from pandas import DataFrame

In [3]:
sp = np.array([[9,11,8,5,7,10]])

In [4]:
pl = np.tril(sp.T - sp)
np.max(pl)

5

In [5]:
rep = DataFrame(pl, columns = sp.flatten(), index =sp.flatten())
rep.columns.name = 'Enter at'
rep.index.name = 'Leave at'

In [6]:
rep

Enter at  9   11  8   5   7   10
Leave at
9          0   0   0   0   0   0
11         2   0   0   0   0   0
8         -1  -3   0   0   0   0
5         -4  -6  -3   0   0   0
7         -2  -4  -1   2   0   0
10         1  -1   2   5   3   0

In [7]:
sp.shape

(1, 6)

In [9]:
sp.flatten().shape

(6,)